{
	"folders": [
		{
			"path": "."
		}
	],
	"settings": {
		"editor.tabSize": 4,
		"editor.rulers": [120],
		"editor.wordWrap": "off",
		"files.exclude": {
			"**/.git": true,
			"**/.svn": true,
			"**/.hg": true,
			"**/CVS": true,
			"**/.DS_Store": true,
			"**/Thumbs.db": true,
			"**/__pycache__": true,
			"**/.idea": true,
			"**/.vs": true,
		},
		"python.defaultInterpreterPath": ""
	}
}